.nav {
    grid-area: n;
    background-color: lightpink;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: black;
}

.friendsBarItems h5 {
    font-size: 1.5em;
    color: black;
    margin: 20px;
}